.badge
  background: #EFF1F5;
  border-radius: 4px;
  height: 24px;
  padding: 0 14px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold
  color: #9299A5
  letter-spacing: 0.4px;
  line-height: 24px !important;
  font-size: 10px !important;

.badge-pending
  background-color: $orange-light
  color: $orange

.badge-success
  background-color: $green-light
  color: $green

.badge-error
  background-color: $red-light
  color: $red
